# Data
data/raw/
data/processed/
*.dcm
*.dicom

# Model weights
results/checkpoints/*.pth
results/checkpoints/*.pt

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env          # API key'leri içerir, commit etme
venv/
.venv/

# W&B
wandb/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
